
  <!--open row 2  -->
  <div class="row">
    <div class="hero-image">
      <p class = "hero-image-background"> MY FEED </p>
    </div>
  </div>
  <!--closing row 2-->


  <!-- Row 3  (6,3,3 )-->
  <div class="row">
    <div class="row3">
      <div class="six left">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 6-->

      <div class="three middle">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->

      <div class=" three right">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->
    </div>
  </div>
  <!--closing row 3-->

  <!-- row 4 (3,6,3)-->
  <div class="row">
    <div class="row4">

      <div class="three left">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->

      <div class="six middle">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 6-->

      <div class="three right">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->
    </div>
  </div>
  <!--closing row 4-->

  <!-- Open row 5 (3,3,3,3) -->
  <div class="row">
    <div class="row5">
      <div class="three left">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->

      <div class="three middle1">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->

      <div class="three middle2">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->

      <div class="three right">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->
    </div>
  </div>
  <!-- Close row 5 (3,3,3,3) -->


  <!--open row 6 -->
  <div class="row">
    <div class="row6">
      <div class="three left">
          <span>title</span><br>
          <span>text</span><br>
          <span>URL</span>
      </div>
      <!--closing column 6-->
      <div class="three middle">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->
      <div class="six right">
        <span>title</span><br>
        <span>text</span><br>
        <span>URL</span>
      </div>
      <!--closing column 3-->
    </div>
  </div>
  <!--closing row 6-->
