<!-- Open row 5 (3,3,3,3) -->
<div class="feedstream">
  <div class="row1">
    <div class="three">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name"><%=source.title %></a>
          <a class="feed-time"><%= source.posttime %></a>
        </div>
        <div class="feed-image">
          <img id="feed_pic" src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%= source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
    <!--closing column 3-->
