<h2 id="profile_title">Ready to publish a Zipcode entry? Great! Complete the form below and then hit
  <b>"Publish"</b>
  to post.</h2>

<body id="page2">
  <div class="profile_display">
    <img src="images/michaelbjordan.jpg">
    <h2 id="username1"></h2>
  </div>

  <form>
    <div class="profile-form-input">

      <input type="text" name="Title" placeholder="Blog Post Title"><br>
      <!-- </div>
			<div class="profile-form-input"> -->
      <input type="text" name="topic" placeholder="Topic"><br>
      <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
      <input type="url" name="url" placeholder="URL"><br>

      <input type="file" name="file"><br>

      <input type="text" name="topic" placeholder="Enter Short Description"><br>

      <input type="submit" name="submit" value="Publish" class="publish">
      <br>
    </div>

  </form>
